{% extends 'base-template.html' %}
{%load static %}

{%block content%}

<!-- Classic -->
<div class="container container-custom">
    <div class="row">
        <div class="col-md-8 image-center">
            <div id="carousel-classic" class="carousel slide container-content" data-ride="carousel"
                data-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="image/classic/classic1.png" class="d-block w-100" alt="Classic 1">
                    </div>
                    <div class="carousel-item">
                        <img src="image/classic/classic2.png" class="d-block w-100" alt="Classic 2">
                    </div>
                    <div class="carousel-item">
                        <img src="image/classic/classic3.png" class="d-block w-100" alt="Classic 3">
                    </div>
                    <div class="carousel-item">
                        <img src="image/classic/classic4.png" class="d-block w-100" alt="Classic 4">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-classic" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-classic" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 container-content">
            <h1 class="title-space">The Classic</h1>
            <p class="para-last">The original bestseller. Our Classic range brings you back in time to an earlier
                period, yet gives you an elegant look that is suitable for any occasion and fashion. Combines well with
                modern wear, to give a classy look.</p>
            <p class="para-mid">Available as dangles.</p>
        </div>
    </div>
</div>

<!-- Knotting -->
<div class="container container-custom2">
    <div class="row">
        <div class="col-md-8 image-center">
            <div id="carousel-knotting" class="carousel slide container-content" data-ride="carousel"
                data-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="image/knotting/knotting1.png" class="d-block w-100" alt="Knotting 1">
                    </div>
                    <div class="carousel-item">
                        <img src="image/knotting/knotting2.png" class="d-block w-100" alt="Knotting 2">
                    </div>
                    <div class="carousel-item">
                        <img src="image/knotting/knotting3.png" class="d-block w-100" alt="Knotting 3">
                    </div>
                    <div class="carousel-item">
                        <img src="image/knotting/knotting4.png" class="d-block w-100" alt="Knotting 4">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-knotting" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-knotting" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 container-content">
            <h1 class="title-space">Knotting</h1>
            <p class="para-last">Hand made to perfection, the Knotting Collection is an artwork of fine form. It is a
                blend of traditional fashion with a zest of chic. A hot favourite during Chinese New Year season and
                suitable to be worn with traditional costumes.</p>
            <p class="para-mid">Available as studs, dangles or hoops.</p>
        </div>
    </div>
</div>

<!-- Stone -->
<div class="container container-custom">
    <div class="row">
        <div class="col-md-8 image-center">
            <div id="carousel-stone" class="carousel slide container-content" data-ride="carousel"
                data-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="image/stone/stone1.png" class="d-block w-100" alt="Stone 1">
                    </div>
                    <div class="carousel-item">
                        <img src="image/stone/stone2.png" class="d-block w-100" alt="Stone 2">
                    </div>
                    <div class="carousel-item">
                        <img src="image/stone/stone3.png" class="d-block w-100" alt="Stone 3">
                    </div>
                    <div class="carousel-item">
                        <img src="image/stone/stone4.png" class="d-block w-100" alt="Stone 4">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-stone" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-stone" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 container-content">
            <h1 class="title-space">Stone</h1>
            <p class="para-last">The Stone range embodies nature in art. Obtained from natural sources, the stones are
                metamorphic in nature and are carefully polished for extra resistance against humidity and moist. </p>
            <p class="para-mid">Available as dangles and hoops.</p>
        </div>
    </div>
</div>

<!-- Bubbly -->
<div class="container container-custom2">
    <div class="row">
        <div class="col-md-8 image-center">
            <div id="carousel-bubbly" class="carousel slide container-content" data-ride="carousel"
                data-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="image/bubbly/bubbly1.png" class="d-block w-100" alt="Bubbly 1">
                    </div>
                    <div class="carousel-item">
                        <img src="image/bubbly/bubbly2.png" class="d-block w-100" alt="Bubbly 2">
                    </div>
                    <div class="carousel-item">
                        <img src="image/bubbly/bubbly3.png" class="d-block w-100" alt="Bubbly 3">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-bubbly" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-bubbly" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 container-content">
            <h1 class="title-space">Bubbly</h1>
            <p class="para-last">The latest range in our whole collection. As the name implies, Bubbly is suitable for
                those with a bubbly and carefree personality. </p>
            <p class="para-mid">Limited availability.</p>
        </div>
    </div>
</div>


{%endblock%}