{% extends 'base-template.html' %}
{%load static %}

{%block content%}

<!-- Brand Description -->
<div class="description">
    <p class="para-top">
        Woola woola is a celebration of the seasons we have in our lifetime.
    </p>
    <p class="para-mid">
        With every hurdle, with every wave, dress it up, look at it
        differently.
    </p>
    <p class="para-top">Have fun, be free, stay classy.</p>
    <p class="para-last">#iamwoolawoola</p>
</div>

<!-- Story -->
<div class="container container-custom">
    <div class="row align-items-center">
        <div class="col-lg-4">
            <img src="https://ucarecdn.com/0c650797-829d-4011-bbca-f4a024529398/storybanner.JPG" class="img-thumbnail"
                alt="story">
        </div>
        <div class="col-lg-8 container-content">
            <h2 class="title-space">The Story</h2>
            <p class="para-last">Just like you, we have an undying love for accessorized earrings and we want to share
                it with the world.</p>
            <a class="btn btn-primary btn-custom" href="{% url 'story' %}" role="button">About Us</a>
        </div>
    </div>
</div>

<!-- Collections -->
<div class="container container-custom">
    <div class="row align-items-center">
        <div class="col-lg-8 container-content">
            <h2 class="title-space">Our Collections</h2>
            <p class="para-last">
                Check out our timeless pieces in this gallery.
            </p>
            <a class="btn btn-primary btn-custom" href="{% url 'collections' %}" role="button">View Gallery</a>
        </div>
        <div class="col-lg-4">
            <img src="https://ucarecdn.com/026becdf-12a1-4ea3-92a3-55e22575f925/lavieenrose.jpg" class="img-thumbnail"
                alt="collections">
        </div>
    </div>
</div>

<!-- Shop -->
<div class="container container-custom">
    <div class="row align-items-center">
        <div class="col-lg-4">
            <img src="https://ucarecdn.com/02ac2266-feb7-4f70-a517-563c78922a37/classic.JPG" class="img-thumbnail"
                alt="story">
        </div>
        <div class="col-lg-8 container-content">
            <h2 class="title-space">Woola Woola Shop</h2>
            {% if request.user.is_authenticated  %}
            <p class="para-last">View our in-trend earrings and make your purchase through our online shop now!</p>
            <a class="btn btn-primary btn-custom" href="{% url 'show_earring_route' %}" role="button">Shop Now</a>
            {% else %}
            <p class="para-last">Log in to your account to make a purchase. Or sign up if you do not have an account.</p>
            <a class="btn btn-primary btn-custom" href="{% url 'account_login' %}" role="button">Login</a>
            <a class="btn btn-primary btn-custom" href="{% url 'account_signup' %}" role="button">Sign up</a>
            {% endif %}
        </div>
    </div>
</div>

{%endblock%}