{% extends 'base-template.html' %}
{%load static %}

{%block content%}

<!-- Hero Image -->
<div class="banner">
    <img src="" class="img-fluid" alt="hero image">
</div>

<!-- Brand Description -->
<div class="description">
    <p class="para-top">
        Woola woola is a celebration of the seasons we have in our lifetime.
    </p>
    <p class="para-mid">
        With every hurdle, with every wave, dress it up, look at it
        differently.
    </p>
    <p class="para-top">Have fun, be free, stay classy.</p>
    <p class="para-last">#iamwoolawoola</p>
</div>

<!-- The Story -->
<div class="container container-custom">
    <div class="row">
        <div class="col-lg-4 image-center">
            <img src="https://ucarecdn.com/0c650797-829d-4011-bbca-f4a024529398/storybanner.JPG" class="img-thumbnail" alt="story">
        </div>
        <div class="col-lg-8 container-content">
            <h2 class="title-space">THE STORY</h2>
            <p class="para-last">Just like you, we have an undying love for accessorized earrings and we want to share
                it with the world.</p>
            <a class="btn btn-primary btn-custom" href="{% url 'story' %}" role="button">ABOUT US</a>
        </div>
    </div>
</div>

<!-- Our Collections -->
<div class="container container-custom">
    <div class="row">
        <div class="col-lg-8 container-content">
            <h2 class="title-space">OUR COLLECTIONS</h2>
            <p class="para-last">
                We want to inspire you to be carefree. To feel what you feel everyday, to wear whatever accessories,
                whenever you want, with no restrictions.
            </p>
            <a class="btn btn-primary btn-custom" href="{% url 'collections' %}" role="button">VIEW OUR COLLECTIONS</a>
        </div>
        <div class="col-lg-4 image-center">
            <img src="https://ucarecdn.com/026becdf-12a1-4ea3-92a3-55e22575f925/lavieenrose.jpg" class="img-thumbnail" alt="collections">
        </div>
    </div>
</div>

{%endblock%}