{% extends 'base-template.html' %}
{%load static %}

{%block content%}

<!-- Our Vision -->
<div class="description">
    <h1 class="title-space">Have fun, be free, stay classy.</h1>
    <p class="para-mid">That is the vision for our customers.</p>
    <p class="para-mid">We want you to live life as you want, enjoy it, yet remain elegant.</p>
    <p class="para-last">Wear woola woola.</p>
</div>

<!-- The Story -->
<div class="container container-custom">
    <div class="row">
        <div class="col-lg-4 image-center">
            <img src="https://ucarecdn.com/b52aa4d1-85e4-445e-b465-1681a0d79e96/jeantan.png" class="img-thumbnail"
                alt="story">
        </div>
        <div class="col-lg-8 container-content">
            <h2>Jean Tan</h2>
            <h5 class="title-space">Founder</h5>
            <p class="title-space">Jean started off by exploring different ways of making accessorized earrings due to
                her love of wearing them. Coming from a family that has various artistic talents and background, she
                sought help from her mother and sister to start up a small handcrafted earring business. She believes
                that women should be as carefree as can be. Hence, she hopes to inspire this belief to others through
                the concept of her products.</p>
            <p><i>"There is nothing more to life than living the best one you can ever live. Regardless of all the
                    stumbling blocks you encounter in your life, take all of them as a lesson learnt and move along. It
                    is always better late than never!</i></p>
            <p><i>- Jean"</i></p>
        </div>
    </div>
</div>

{%endblock%}