{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="https://ucarecdn.com/6a786d4b-82c9-4405-b0e2-a50dea624958/logo.png" type="image/gif"
        sizes="16x16">
    <script src="https://kit.fontawesome.com/05506b7d04.js" crossorigin="anonymous"></script>
    <title>{%block title%}{%endblock%}</title>
    {%block head %}{%endblock%}
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand active" aria-current="page" href="{% url 'home' %}">
                <img src="https://ucarecdn.com/6a786d4b-82c9-4405-b0e2-a50dea624958/logo.png" alt="logo" width="30"
                    height="30" class="d-inline-block align-text-top">
                Woola Woola
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'story' %}">Story</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'collections' %}">Collections</a>
                    </li>
                    {% if request.user.is_authenticated  %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'show_earring_route' %}">Shop</a>
                    </li>
                    {%else%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Shop</a>
                    </li>
                    {%endif%}
                </ul>
                <ul class="navbar-nav">
                    {% if request.user.is_authenticated  %}
                    <li class="nav-item nav-link">
                        Welcome, {{request.user}}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">
                            Logout
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand nav-link" href="{% url 'view_cart_route' %}">
                            <i class="fas fa-shopping-cart"></i>
                            ({{number_of_items}})
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">
                            Sign up
                        </a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6 alert alert-secondary bg-light text-center">
                {% for message in messages %} <p>{{ message }}</p> {% endfor %}
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container">
        {%block content%}{%endblock%}
    </div>

    {%block js %}{%endblock%}

    <!-- Footer -->
    <footer>
        <div class="footer">
            <h6>Connect with us!</h6>
            <a href="https://www.facebook.com/woolawoola.sg" class="footer-logo">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://www.instagram.com/woola.woola/" class="footer-logo">
                <i class="fab fa-instagram"></i>
            </a>
            <p class="footer-text">&#169; 2021, Woola Woola. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

</body>



</html>